/*  699841
    83B330
    99C63D
    A1CB46
*/
h1, h2, h3, h4, li,ul,ol, p{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
header{
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}
.logo img{
    width: 100px;
    height:100px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    font-size: 25px;
}
.navbar, nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar p {
    font-size: 20px;
}
.social a{
    margin-right: 5px;
}
header li{
    list-style: none;
}
a, .dropbtn{
    text-decoration: none;
    color: black;
    margin-right:25px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
}
.dropbtn:after{
    display: inline-block;
    margin-left: 5px;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.dropbtn{

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-right: 0px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

.contsept{
    padding: 100px 0;
    text-align: center;
    background-color: rgba(153, 198, 61, 0.25);
}
.contsept h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.contsept h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.contsept .description{
    font-size: 18px;
    margin-bottom: 20px;
}
.ul-list{
    font-size: 25px;
    margin-bottom: 15px;
}
.contsept .list{
    display: block;
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
}
.contsept li{
    margin-bottom: 15px;
}
.contsept li:first-of-type{
    margin-top: 15px;
}

